---
title: Projects | Bryan Gass
layout: project_template
---
<ul class="contact-list">
    <ul class="repo-list">
        <li>
            {% include cards.html %}
        </li>
        <li>
            {% include cards.html %}
        </li>
    </ul>
    <ul class="repos-list">
        <li>
            {% include cards.html %}
        </li>
        <li>
            {% include cards.html %}
        </li>
    </ul>
    <ul class="repos-list">
        <li>
            {% include cards.html %}
        </li>
        <li>
            {% include cards.html %}
        </li>
    </ul>
</ul>
