---
title: Projects | Bryan Gass
layout: project_template
---
<ul class="repo-list">
    <li>
        {% include cards.html reponame="CS-541-Deep-Learning" %}
    </li>
    <li>
        {% include cards.html reponame="Deep-Q-Learning" %}
    </li>
    <li>
        {% include cards.html reponame="CS-4445-Data-Mining" %}
    </li>
    <li>
        {% include cards.html reponame="AI_Project2" %}
    </li>
    <li>
        {% include cards.html reponame="Self-Taught-Machine-Learning" %}
    </li>
    <li>
        {% include cards.html reponame="General-Search" %}
    </li>
</ul>
