---
custom_css: styles
---
<form method="POST" action="https://formspree.io/f/mayanrkr">
    <ul class="contact-list">
        <li>
            <p class="above-text-fields">Email:</p>
            <input type="Email" name="email" class="contact-text-fields">
        </li>
        <li>
            <p class="above-text-fields">Name:</p>
            <input type="text" name="name" class="contact-text-fields">
        </li>
        <li>
            <p class="above-text-fields">Message:</p>
            <textarea name="Message" rows="10" cols="30" class="contact-text-fields"></textarea>
        </li>
        <li>
            <button type="Submit" class="contact-button">Submit</button>
        </li>
    </ul>
</form>